<mtx-page>
    <mtx-prime-app-bar class="mtx-amber-100 mtx-brown-text">
        <img icon src="assets/tsrao.svg" width="40px" height="40px" />
        <mtx-app-bar-title>
            <mtx-title>T. Sunil Rao</mtx-title>
            <mtx-label class="mtx-brown-400-text">Tech innovator</mtx-label>
        </mtx-app-bar-title>
        <button mat-icon-button action style="margin-right: -8px;">
            <mtx-icon icon="menu" style="margin: auto;"></mtx-icon>
        </button>
    </mtx-prime-app-bar>
    <mtx-page-content class="mtx-brown">
    </mtx-page-content>
</mtx-page>