<mtx-page class="mtx-accent-light">
    <mtx-prime-app-bar class="mtx-primary" style="padding-top: 16px; padding-bottom: 16px;">
        <mtx-prominent-icon class="mtx-accent-light" src="assets/tsrao.svg" style="border-radius: 50%;">
        </mtx-prominent-icon>
        <mtx-app-bar-title>
            <mtx-title>T. Sunil Rao</mtx-title>
            <mtx-label class="mtx-light-secondary-text">Tech innovator</mtx-label>
        </mtx-app-bar-title>
        <button mat-icon-button action style="margin-right: -8px;">
            <mtx-icon icon="menu" style="margin: auto;"></mtx-icon>
        </button>
    </mtx-prime-app-bar>
    <mtx-page-content style="align-items: center;">
        <mtx-column class="mtx-dark-secondary-text" style="max-width: 800px; padding: 32px 0; text-align: center;">
            <mtx-subtitle style="margin-bottom: 16px;">Is your business resilient to the</mtx-subtitle>
            <mtx-display>FUTURE SHOCK?</mtx-display>
            <mtx-subtitle style="margin: 32px 0">Technology is changing the way we do business. However, when change
                occurs too fast, the capacity of businesses to react is strained.</mtx-subtitle>
            <mtx-subtitle>I help businesses take decisions for the overarching existing and emerging technologies that
                closely align with their goals and future endeavors.</mtx-subtitle>
            <button mat-raised-button color="accent" style="align-self: center; margin-top: 32px;">KNOW MORE</button>
        </mtx-column>
    </mtx-page-content>
</mtx-page>